*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:azure;
    margin: 70px;
}
h1{
    text-transform: uppercase;
}
.goal{
    text-transform: uppercase;
}
p{
    font-size: 20px;
    text-align: left;
    text-indent: 20px;
    margin: 20px;
}